* {
  list-style: none;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
}

body .background {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 62%, 28% 89%, 0 100%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 62%, 28% 89%, 0 100%, 0 0);
  background-color: #d4ebf2;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainNav li {
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
  font-size: 16px;
  padding-top: 18px;
}

/* page title */
.logo {
  float: left;
  font-size: 30px;
  text-decoration: none;
  color: black;
}

img {
  width: 30%;
}

nav {
  padding: 10px;
}

.navLinks {
  text-decoration: none;
  color: black;
}

.navLinks:hover {
  color: #b3b3b3;
}

.navBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #d4ebf2;
}

.info {
  margin-top: 120px;
  text-align: center;
}

.color {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 62%, 28% 89%, 0 100%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 62%, 28% 89%, 0 100%, 0 0);
  background-color: #d4ebf2;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.categoryList {
  margin: 10px;
  text-align: center;
}

.categoryList a {
  color: black;
}

.categoryList a:hover {
  color: #b3b3b3;
}

.categoryListDetail {
  margin: 10px;
  text-align: center;
}

.categoryListDetail a {
  color: black;
}

.categoryListDetail a:hover {
  color: #b3b3b3;
}

.categoryBox {
  border: 1px solid black;
  margin: 0 250px;
  padding: 10px 0;
  border-radius: 4%;
}

.categoryListBox {
  border: 1px solid black;
  margin: 0 250px;
  padding: 10px 0;
  border-radius: 4%;
}

.info h2 {
  text-decoration: none;
}

.subject2Box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subject2Inner {
  text-align: center;
}

.subject2Inner img {
  margin: 20px 0;
}

.subject2Inner a {
  color: black;
}

.subject2Inner a:hover {
  color: #b3b3b3;
}

.subjectBox {
  text-align: center;
  padding: 10px 0;
}

.subjectBox h3, .subjectBox h4 {
  margin: 10px 0;
}

.subjectBox img {
  width: 50%;
}

.helpBox {
  border: 1px solid black;
  margin: 0 100px;
  padding: 10px 0;
  border-radius: 4%;
  text-align: center;
}

.helpBox a {
  color: black;
}

.helpBox a:hover {
  color: #b3b3b3;
}

.helpBox h2, h3 {
  margin: 10px 0;
}

.subjectWrapper {
  margin: 10px;
  border: 1px solid black;
  width: 20%;
  padding: 10px 0;
}

.subjectWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
}

.subjectBox a {
  color: black;
}

.subjectBox a:hover {
  color: #b3b3b3;
}

.helpForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

.helpFormBox h1 {
  text-align: center;
  margin: 20px 0;
}

.helpFormBox {
  border: 1px solid black;
  margin: 0 300px;
}

.logOutBox {
  border: 1px solid black;
  margin: 0 300px;
}

.helpButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input {
  width: 300px;
  margin: 10px 0;
}

textarea {
  margin: 10px 0;
  width: 350px;
}

.helpButton button, .helpButton input {
  margin: 20px 0;
}

.helpForm h3 {
  color: black;
}
/*# sourceMappingURL=masterit.css.map */