
$colors:(
  primary:lighten(lightblue,10%),
  accent:white,
  primary-light:lighten(grey,20%),
);

*{
  list-style: none;
  margin:0;
  border:0;
  box-sizing: border-box;
  text-decoration: none;
}

@function color($color-name){
  @return map-get($colors,$color-name)
}

body,html{
  height:100%
}

body{
  margin:0;

  .background{
    clip-path: polygon(50% 0%, 100% 0, 100% 62%, 28% 89%, 0 100%, 0 0);;
    background-color: color(primary);
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
    display:flex;
    justify-content: center;
  }
  

}

.mainNav li{
  display:inline-block;
  margin: 0 10px;
  font-weight: bold;
  font-size:16px;
  padding-top:18px;
}

/* page title */
.logo{
  float:left;
  font-size:30px;
  text-decoration: none;
  color:black;
}

img{
  width:30%;
  
}


nav{
  padding:10px;
}

.navLinks{
  text-decoration: none;
  color:black;
}

.navLinks:hover{
  color:color(primary-light);
}


.navBox{
  display:flex;
  justify-content: space-between;
  background-color:color(primary);
}

.info{
  margin-top:120px;
  text-align: center;
}

.color{
  clip-path: polygon(50% 0%, 100% 0, 100% 62%, 28% 89%, 0 100%, 0 0);;
    background-color: color(primary);
    width:100%;
    height:100%;
    position:absolute;
    z-index:-1;
}

h2{
  text-align: center;
  text-decoration: underline;
}

.categoryList{
  margin:10px;
  text-align: center;
}

.categoryList a{
  color:black;
}

.categoryList a:hover{
  color: color(primary-light)
}

.categoryListDetail{
  margin:10px;
  text-align: center;
}
.categoryListDetail a{
  color:black;
}

.categoryListDetail a:hover{
  color: color(primary-light)
}


.categoryBox{
  border:1px solid black;
  margin:0 250px;
  padding: 10px 0;
  border-radius:4%;
}

.categoryListBox{
  border:1px solid black;
  margin:0 250px;
  padding: 10px 0;
  border-radius:4%;
}

.info h2{
  text-decoration: none;
}

.subject2Box{
  display:flex;
  justify-content: center;
}

.subject2Inner{
  text-align: center;
}

.subject2Inner img{
  margin:20px 0;
}

.subject2Inner a{
  color:black;
}

.subject2Inner a:hover{
  color: color(primary-light)
}

.subjectBox{
  text-align: center;
  padding:10px 0;
}

.subjectBox h3, .subjectBox h4{
  margin:10px 0;
}



.subjectBox img{
  width:50%;
}



.helpBox{
  border:1px solid black;
  margin:0 100px;
  padding: 10px 0;
  border-radius:4%;
  text-align: center;
}

.helpBox a{
  color:black;
}

.helpBox a:hover{
  color: color(primary-light)
}

.helpBox h2,h3{
  margin:10px 0;
}

.subjectWrapper{
  margin:10px ;
  border:1px solid black;
  width:20%;
  padding:10px 0;
}

.subjectWrap{
  display:flex;
  flex-direction: row;
  flex-flow:row wrap;
}

.subjectBox a{
  color:black;
}

.subjectBox a:hover{
  color: color(primary-light)
}

.helpForm{
  display:flex;
  justify-content: center;
  margin:10px 0;
}


.helpFormBox h1{
  text-align: center;
  margin:20px 0;
}


.helpButton{
  display:flex;
  justify-content: center;
  margin:20px 0;
  width:50px;
}

.helpFormBox{
  border:1px solid black;
  margin:0 300px;
}


.logOutBox{
  border:1px solid black;
  margin:0 300px;
}



.helpForm h3{
  color:black;
}
