{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='{% static "css/masterit.css"%}'/>
</head>
<body>
  <div class='navBox'>
    <div>
      <a href='/'><img src='../../static/images/logo.png'></a>
    </div>
    <nav class='mainNav'>
      <ul>
        <li><a class='navLinks' href='/category'>Browse</a></li>
        <li><a class='navLinks' href='/helps'>Request Board</a></li>
        <li><a class='navLinks' href='{% url "subject2_create"%}'>Post Your Teaching Service</a></li>
        <li><a class='navLinks' href='{% url "help_create"%}'>Post Your Request</a></li>
        {% if user.is_authenticated %} 
        <li><a class='navLinks' href="{% url 'logout' %}">Log out</a></li>
        <li>Welcome, {{ user.username }}</li>
        {% else %}
        <li><a class='navLinks' href="{% url 'login' %}">Login</a></li> 
        <li><a class='navLinks' href="{% url 'signup' %}">Signup</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
  <div class='background'></div>
    {%block content%} {% endblock%}
</body>
</html>